* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;   
}
html{
    font-family: 'Source Sans Pro';
}
header p,header li,h1,h2,div .btn,div .btn1,footer h3{
    text-transform: uppercase;
}
#headerDiv{
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
#headerDiv a{
    text-decoration: none;
}
#headerDiv a:link{
    color:black
}
#headerDiv a:visited{
    color:black
}
#headerDiv a:hover{
    color:#0062B9
}
.headerLeft{
    display: flex;
}
#name{
    margin: auto 0;
}
#profilePic{
    margin: 10px 25px;
    height: 80px;
    border-radius: 50px;
}
.headerRight{
    margin: auto 25px;
}
.headerRight li{
    display: inline-block;
    padding: 30px;
}
.btn1{
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 200px;
    text-transform: none;
    color: black;
    background-color: white;
    transition: transform 0.3s;
}
.btn{
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 200px;
    text-transform: none;
    color: white;
    background-color: #0062B9;
    transition: transform 0.3s;
}
.btn:hover, .btn1:hover{
    transform: translateY(-2px)
}
.landingPage{
    background-image: linear-gradient(#0063b9c4, #0063b9c4),
                        url("../resources/images/svg/common-bg.svg");
}
.landingPageMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 850px;
    color:white;
}
.landingCenter{
    text-align: center;
}
.landingCenter h1, .landingCenter p{
    padding:30px;
}
.landingCenter h1{
    font-size: 60px;
}
.navBar{
    display: flex;
}
.navBar li{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 15px;
}

.navIcon{
    width: 30px;
    height: 30px;
    transition: background .3s
    
}
.navBar li:hover{
    background: rgba(255,255,255,0.1)
}
.projectsOverview, .aboutMeOverview, .contact, .contactOverview{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.aboutMeSection{
    background-color: #FAFAFA;
    padding-bottom: 50px;
}

h2:after {
    display: block;
    height: 5px;
    width: 30px;
    background: rgb(0, 98, 185);
    content: "";
    margin: auto;
    margin-top: 30px;
    
}
.aboutMeSection p, .aboutProjects p{
    color: #7F828C;
    padding-bottom: 20px;
}
.aboutMeSection h3, .aboutMeSection h2, .aboutProjects h3{
    padding-bottom: 20px;
}
.aboutRow1A{
    width: 700px;
}
.aboutContainer p{
    padding-right: 20px;
    
}
.contactOverview{
    color: white;
}
.aboutRow1B{
    width: 500px;
}
.skills{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 200px;
    color: black;
    background-color: rgb(168, 168, 168);
    width: fit-content;
    margin: 10px;
}
.projects h2{
    padding-bottom: 20px;
}
.projectExampleContainer, .aboutContainer{
    display: flex;
    justify-content: center;
}
.projectExample{
    width: 700px;
    height: 430px;
}
.projectExampleImage{
    width: 100%;
}
.projectExplanation{
    align-items: center;
    margin: auto 0;
    width: 500px;
}
.projectExplanation h2, .projectExplanation p{
    padding: 20px 0;
}
.contactSection{
    background-image: linear-gradient(#0063b9c4, #0063b9c4),
                        url("../resources/images/svg/common-bg.svg");
    padding: 50px;
}
.contact{
    background-color: white;
    border: 1px solid black;
    width: 800px;
    min-height: 350px;
    margin: auto;
    padding: 20px;
}

.formRow .btn{
    margin-top: 20px;
}
.labels{
    padding-top: 20px;
    padding-bottom: 10px;
}
input{
    width: 500px;
    height: 70px;
    background-color: #F0F0F0;
}
textarea{
    min-width: 500px;
    max-width: 500px;
    min-height: 150px;
    max-height: 200px;
    background-color: #F0F0F0
}
footer{
    color: white;
    height: 200px;
    border: 1px solid black;
    background-color: black;
}
.footerContainer{
    width: 80%;
    margin: auto;
}
.footerRow{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footerRow h3{
    padding-bottom: 20px;
}
footer li{
    display: inline-block;
    padding: 10px;
}
.iMadeThis{
    text-align: center;
    
}

.iMadeThis p{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 100;
}
.iMadeThis a{
    font-size: 12px;
    text-decoration: none;
}
.iMadeThis a:link,.iMadeThis a:visited{
    color:blue;
}
.iMadeThis a:hover{
    text-decoration: underline;
}

/* CSS for other pages below */


.project1Landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    color:white;
}

.project1Display{
    margin: auto;
    width: 800px;
    min-height: 700px;
    
}
.project1Example{
    background-image: url("../resources/images/jpeg/project-mockup-example.jpeg");
    background-size: contain;
}
.projectExplanation{
    padding-top: 20px;
    margin: auto;
}
.projectExampleImage1{
    height: 72%;
    width: 71%;
    margin: 45px 102px;
}
.aboutProjectSkills{
    margin:auto;
    padding-bottom: 30px;
}